@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
}

.flex {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #000000;
}

.container {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 4rem;
  margin-bottom: 50px;
}

.content {
  /* position: relative; */
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.content .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 10;
}

.content .text-box {
  z-index: 20;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}
.section-title {
  font-size: 3em;
  margin-bottom: 80px;
}
.imag2 {
  margin: -80;
}
.info-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info {
  width: 700px;
  margin-left: 50px;
}
.info2 {
  width: 400px;
  margin-left: 50px;

}

/* 画像　*/
.column-a{
  background-image: url(./images/img7.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 270px;
  border-radius: 20px;
}
.column-b{
  background-image: url(./images/img2.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 270px;
  border-radius: 20px;
}
.column-c{
  background-image: url(./images/img1.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 270px;
  border-radius: 20px;
}
.column-d{
  background-image: url(./images/img6.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 270px;
  border-radius: 20px;
}

.sec-03 {
  margin-bottom: 100px;
}

@media only screen and (max-width: 979px) {
  footer div.footer_wrap {
      padding-left: 4rem;
      padding-right: 4rem;
      width: 100%;
  }
}

/* フッター */
.footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer-links a {
  color: white; /* 文字色を白に設定 */
  text-decoration: none;
}
.footer-links a:hover {
  color: #00ccff;
}

